*{
	margin:0;
	padding:0;
	list-style: none;
}
html,body{
	background-color: #EFEFEF;
}
/*头部样式*/
.my-top{
	position: relative;
	display: flex;
	align-items: center;
	padding:0 15px;
	height: 160px;
	letter-spacing: 1px;
	background: -webkit-linear-gradient(left, #1097FF ,#2E82FB); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, #1097FF, #2E82FB); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #1097FF, #2E82FB); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #1097FF , #2E82FB); /* 标准的语法 */
}
.hint{
	position: absolute;
	right: 15px;
	top:15px;
	width:26px;
	height:26px;
}
.user-img{
	width: 75px;
	height: 75px;
	border-radius: 50%;
}
.user-box{
	width: calc(100% - 30px - 75px - 10px);
	margin-left: 10px;
}
.log-out,.user-name{
	font-size: 15px;
	color:white;
}
.log-out{
	display: none;
}
.user-data{
	
}
.user-name{
	
}
.user-phone{
	font-size: 13px;
	color:white;
}
.log-out,.user-name,.user-phone{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.order-box{
	position: absolute;
	top:130px;
	left: 15px;
	right: 15px;
	background-color: white;
	/*padding-bottom: 5px;*/
	border-radius: 4px;
}
.order-box h5{
	height: 30px;
	line-height: 30px;
	padding:0 5px;
	text-align: right;
	font-size: 12px;
	font-weight: normal;
	color:#666666;
	border-bottom: 1px solid #F7F7F7;
	margin:0;
	text-align: left;
}
.order-box .mui-icon{
	font-size: 14px;
	color:#666666;
	float: right;
	margin-top: 8px;
}
.order-box .order-list{
	display: flex;
	color:#333333;
}
.order-box .order-list div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 20%;
	font-size: 10px;
	padding:5px 0;
}
.order-box .order-list div img{
	width:21px;
	height:21px;
}
/*头部样式*/
.page-box{
	
}
.page-list{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 8px;
	height: 50px;
	background-color: white;
	margin-bottom: 5px;
}
.page-list-l{
	font-size: 15px;
	color:#333333;
}
.page-list-r{
	
}
.page-list-r .mui-icon{
	
	font-size: 18px;
}
/*底部导航*/
.foot{
	position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    bottom: 0;
    display: table;
    width: 100%;
    height: 50px;
    padding: 0;
    table-layout: fixed;
    border-top: 0;
    border-bottom: 0;
    background-color: white;
	line-height: 17px;
}
.foot .foot-list{
	display: table-cell;
    overflow: hidden;
    width: 1%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #929292;
}
.foot .foot-list img{
	width: 22px;
}
.foot .foot-list p{
	margin:0;
	font-size: 11px;
}
.foot .foot-list .actionp{
	color:#0067E6;
}
/*底部导航结束*/